<%- include('template/header') %>

    <h1>Users</h1>
    <% users.forEach(user=> { %>
        <div class="mb-3 p-3 border rounded d-flex justify-content-between align-items-center">
            <div>
                <strong>
                    <%= user.name %>
                </strong> (<%= user.user_type %>)
            </div>

            <div>
                <form method="POST" action="/admin/promote/<%= user._id %>"
                    style="display:inline-block; border-radius: 50%;">
                    <button class="btn btn-danger btn-sm me-2" type="submit">Promote to Admin</button>
                </form>

                <form method="POST" action="/admin/demote/<%= user._id %>"
                    style="display:inline-block; border-radius: 50%;">
                    <button class="btn btn-success btn-sm" type="submit">Demote to User</button>
                </form>
            </div>
        </div>
        <% }); %>
            <%- include('template/footer') %>